body {
    background-image: url(/public/img/pattern.jpg);
}


header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color:rgb(208, 202, 195);
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 10px;
    
}   



#logo {
    padding-left: 50px;
}

li {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

nav ul a {
    display: inline-flexbox;
    float: left;
    padding: 30px;
    color: black;
}

ul a:hover {
    color: rgb(230, 109, 34);

}
a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section {
    background-color: rgb(208, 202, 195);
    padding: 6vh;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px;
}

section h1 {
    text-align: center;
}

footer {
        padding: 10px;
        color: white;
        background-color: black;
        text-align: center;
}

article a {
    color: rgb(27, 25, 25);
}

article a:hover {
    color: rgb(230, 109, 34);
}

.one {
    border-bottom: 3px solid black;
}

@media (max-width: 768px) {
    body {
      background-image: none; /* Hapus gambar latar belakang pada perangkat mobile */
    }
  
    header {
      flex-direction:row; 
      text-align: center; /* Pusatkan teks dalam header */
      padding: 10px; /* Tambahkan sedikit ruang di sekitar header */
    }
  
    #logo {
      padding-left: 0; /* Hapus padding kiri pada logo */
    }
  
    nav ul {
      padding: 0; /* Hapus padding dari ul dalam nav */
    }
  
    nav ul a {
      padding: 10px; /* Tambahkan ruang di sekitar tautan di dalam ul */
    }
  
    section {
      padding: 4vh; /* Ubah margin dan padding pada section */
      margin: 0; /* Hapus margin pada section */
    }
  
    section h1 {
      font-size: 24px; /* Ubah ukuran teks judul di dalam section */
    }
  
    footer {
      padding: 10px; /* Tambahkan ruang di sekitar teks di dalam footer */
    }
  }
  